[submodule "graphql-prisma"]
	path = graphql-prisma
	url = https://git.heroku.com/frozen-forest-17266.git
[submodule "frozen-forest-17266"]
	path = frozen-forest-17266
	url = https://git.heroku.com/frozen-forest-17266.git
